<script lang="ts" setup>
// imports

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section py20>
    <div a-container class="lt-md:(px0)">
      <div grid="~ gap-x5 gap-y10 lg:cols-12" class="lt-md:(px7.5)">
        <div class="lg:(col-start-2 col-end-7)">
          <div flex="~ col">
            <h1 text-primary a-title uppercase>
              Lorem ipsum dolor sit Cras.
            </h1>

            <p mt-6 class="text-gray800 text-sm leading-5 md:(text-4.5 leading-6)">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies mollis id volutpat quis quis. Id neque, amet mattis dictumst sapien. Eget sagittis, arcu, tellus posuere faucibus in tristique pellentesque nulla. Posuere facilisis phasellus in orci egestas malesuada nam.
            </p>

            <form mt8 autocomplete="off">
              <div flex="~ col gap3">
                <div>
                  <AInput
                    flex="grow"
                    a="primary"
                    h10
                    icon="a-lucide:user"
                    type="text"
                    placeholder="Name"
                  />
                </div>

                <div>
                  <AInput
                    flex="grow"
                    a="primary"
                    h10
                    icon="a-lucide:mail"
                    type="email"
                    placeholder="Email"
                  />
                </div>

                <div>
                  <ATextarea
                    a="primary"
                    min-h24
                    type="text"
                    placeholder="Message"
                  />
                </div>

                <div text-center>
                  <AButton a="solid" gap2 type="button" class="wfull justify-between sm:w-auto">
                    <span>Send</span>
                    <span class="a-custom:long-arrow-right" />
                  </AButton>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="lg:(col-start-7 col-end--1)">
          <div text-sm flex="~ col gap8">
            <h2 text-primary fw600 uppercase class="text-7 lg:text-7.5">
              Most Popular Articles
            </h2>

            <div>
              <div flex="~ gap2">
                <span class="a-lucide:home" />
                <b block fw700 leading-5>Vancouver Office</b>
              </div>

              <span block leading-5>No. 111 Lansdale Street, Arena Repair Office</span>
            </div>

            <div>
              <div flex="~ gap2">
                <span class="a-lucide:phone-call" />
                <b inline-block fw700 leading-5>Phone Support</b>
              </div>

              <a href="tel:+17243811598" inline-block leading-5>+17243811598</a>
            </div>

            <div>
              <div flex="~ gap2">
                <span class="a-lucide:mail" />
                <b inline-block fw700 leading-5>Email Support</b>
              </div>

              <a href="mailto:dummy@gmail.com" inline-block leading-5>arena@example.com</a>
            </div>

            <div>
              <div flex="~ gap2">
                <span class="a-lucide:globe" />
                <b block fw700 leading-5>Social Media</b>
              </div>

              <div mt-3 flex="~ row gap4" a="primary">
                <a inline-flex items-center class="hover:text-context" href="#">
                  <div class="a-simple-icons:instagram" />
                </a>

                <a inline-flex items-center class="hover:text-context" href="#">
                  <div class="a-simple-icons:twitter" />
                </a>

                <a inline-flex items-center class="hover:text-context" href="#">
                  <div class="a-simple-icons:facebook" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
