<script lang="ts" setup>
import type { NuxtLinkProps } from '#app'

interface AButtonProps extends NuxtLinkProps {
  variant?: 'primary' | 'accent' | 'success' | 'secondary'
  to?: string
  href?: string
}

const props = withDefaults(
  defineProps<AButtonProps>(), {
    variant: 'primary'
  }
)

const componentTag = computed(() => {
  if (props.to !== undefined) { return resolveComponent('NuxtLink') } else if (props.href !== undefined) { return 'a' }
})
</script>

<template>
  <component
    :is="componentTag || 'button'"
    :aria-disabled="$attrs.disabled"
    v-bind="$props"
    class="transition a-button-base hover:a-button-hover focus:a-button-focus active:a-button-active focus-within:a-button-active a-disabled:a-disabled"
    :class="[
      `a-${variant}`,
      `hover:a-${variant}7`,
      `focus:a-${variant}8`,
      `active:a-${variant}9`,
    ]"
  >
    <slot />
  </component>
</template>
