<script lang="ts" setup>
import { useVModel } from '@vueuse/core'

interface ACheckboxProps {
  variant?: 'primary' | 'accent' | 'success' | 'secondary'
  modelValue?: boolean
  disabled?: boolean
  visuallyHidden?: boolean
}

const props = withDefaults(
  defineProps<ACheckboxProps>(), {
    modelValue: false,
    variant: 'primary'
  }
)

const emit = defineEmits<{(...args: any): void }>()
const checked = useVModel(props, 'modelValue', emit, { passive: true })
</script>

<template>
  <label
    class="a-checkbox inline-flex items-center select-none hover:a-checkbox-hover a-disabled:a-disabled"
    :class="[
      `a-${variant}`,
      `hover:a-${variant}6`,
      `focus:a-${variant}7`,
      `active:a-${variant}8`,
    ]"
    :checked="checked || null"
    :disabled="disabled || null"
  >
    <input
      v-model="checked"
      type="checkbox"
      class="absolute op0 sr-only peer"
      :class="visuallyHidden ? 'sr-only' : null"
      :disabled="disabled"
      :aria-disabled="disabled"
      @keypress.enter="checked = !checked"
    >
    <span :class="visuallyHidden ? 'sr-only' : null" class="transition a-checkbox-box a-checked:a-checkbox-box-checked peer-active:a-active-base peer-focus-visible:a-focus-base">
      <AIcon class="transition a-checkbox-icon transform scale-0 op0 a-checked:op100 a-checked:scale-100" />
    </span>
    <span><slot /></span>
  </label>
</template>
