<script setup lang="ts">
import { useVModel } from '@vueuse/core'
const props = withDefaults(
  defineProps<{
    modelValue?: string
    placeholder?: string
    icon?: string
    disabled?: boolean
    type?: string
    inputClass?: string
  }>(),
  {
    modelValue: '',
    disabled: false,
    type: 'text'
  }
)
const emit = defineEmits<{(...args: any): void }>()
const input = useVModel(props, 'modelValue', emit, { passive: true })
</script>

<template>
  <label class="transition a-text-input a-bg-base focus-within:a-focus-base focus-within:border-context rounded px-2 py-1 border a-border-base flex items-center flex text-sm cursor-text">
    <slot name="icon">
      <AIcon v-if="icon" :icon="icon" class="mr-0.4em text-1.1em op50" />
    </slot>
    <input
      v-model="input"
      :class="inputClass"
      class="!outline-none flex-auto a-bg-base"
      :type="type"
      :placeholder="placeholder"
    >
  </label>
</template>
