<script setup lang="ts">
import { useVModel } from '@vueuse/core'
const props = withDefaults(
  defineProps<{
    variant?: 'primary' | 'accent' | 'success' | 'secondary'
    modelValue?: string
    disabled?: boolean
    name?: string
    id?: string
    value?: string
    visuallyHidden?: boolean
    checked?: boolean
  }>(),
  {
    modelValue: '',
    disabled: false
  }
)
const emit = defineEmits<{(...args: any): void }>()
const model = useVModel(props, 'modelValue', emit, { passive: true })
</script>

<template>
  <label
    class="a-radio inline-flex items-center select-none hover:a-radio-hover a-disabled:a-disabled"
    :class="[
      `a-${variant}`,
      `hover:a-${variant}6`,
      `focus:a-${variant}7`,
      `active:a-${variant}8`,
    ]"
    :checked="checked === false ? null : model === value || null"
    :disabled="disabled || null"
  >
    <input
      :id="id"
      v-model="model"
      type="radio"
      class="absolute op0 peer"
      :class="visuallyHidden ? 'sr-only' : null"
      :disabled="disabled"
      :aria-disabled="disabled"
      :name="name"
      :value="value"
      @keypress.enter="model = value"
    >
    <span :class="visuallyHidden ? 'sr-only' : null" class="transition a-radio-box a-checked:a-radio-box-checked peer-active:a-active-base peer-focus-visible:a-focus-base">
      <AIcon class="transition a-radio-icon transform scale-0 op0 a-checked:op100 a-checked:scale-100 translate-z-0 backface-hidden subpixel-antialiased" />
    </span>
    <span><slot /></span>
  </label>
</template>
