<script setup lang="ts">
import { useVModel } from '@vueuse/core'
const props = withDefaults(
  defineProps<{
    modelValue?: string
    placeholder?: string
    icon?: string
    disabled?: boolean
    textareaClass?: string
  }>(),
  {
    modelValue: '',
    disabled: false
  }
)
const emit = defineEmits<{(...args: any): void }>()
const inputVmodel = useVModel(props, 'modelValue', emit, { passive: true })
const { textarea, input } = useTextareaAutosize()

watch(inputVmodel, (value, _) => {
  input.value = value
})
</script>

<template>
  <label class="transition a-text-input a-bg-base focus-within:a-focus-base focus-within:border-context rounded px-2 py-1 border a-border-base flex items-stretch flex text-sm cursor-text">
    <slot name="icon">
      <AIcon v-if="icon" :icon="icon" class="mr-0.4em mt-2 text-1.1em op50" />
    </slot>
    <textarea
      ref="textarea"
      v-model="inputVmodel"
      :class="textareaClass"
      class="!outline-none flex-auto bg-transparent !resize-none"
      :placeholder="placeholder"
    />
  </label>
</template>
