<script setup lang="ts">
defineProps<{
  icon?: string
}>()
</script>

<template>
  <div class="a-tip a-tip-base">
    <slot name="icon">
      <AIcon v-if="icon" :icon="icon" class="a-tip-icon" />
    </slot>
    <div>
      <slot />
    </div>
  </div>
</template>
