<script lang="ts" setup>
import '@fontsource/lato/400.css'
import '@fontsource/lato/700.css'
import '@fontsource/manuale/500.css'
import '@fontsource/manuale/700.css'

const indicatorColor = ref('#2457b2')
const isMenuExpanded = useMenuExpanded()

useHead({
  htmlAttrs: {
    lang: 'en'
  }
})
</script>

<template>
  <Body class="scroller" :class="isMenuExpanded && 'of-hidden!'">
    <NuxtLayout>
      <NuxtLoadingIndicator :color="indicatorColor" />
      <NuxtPage />
    </NuxtLayout>
  </Body>
</template>

<style lang="postcss">
html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #fff;
  @apply text-black
  // color-scheme: light dark;
}

::selection {
  @apply bg-primary text-white
}

a,
summary,
button,
[tabindex]:not([tabindex='-1']) {
  @apply outline-none;

  &:focus-visible {
    @apply ring-1 ring-context ring-offset-1;
  }
}

@supports (overflow: overlay) {
  .scroller {
      overflow:overlay
  }
}

.scroller::-webkit-scrollbar {
  border-radius: 14px;
  display: block;
  inline-size: 14px;
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.544);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-block: none;
  border-radius: 14px;
}

.scroller::-webkit-scrollbar:hover {
  background: var(--scrollbar-caret-bottom) bottom center/contain no-repeat,var(--scrollbar-caret-top) top center/contain no-repeat,hsl(var(--mica-tint),var(--mica-tint-opacity))
}

.scroller::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.446);;
  background-clip: padding-box;
  border: 6px solid transparent;
  border-block:none;border-radius: 14px
}

.scroller::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent
}

.scroller::-webkit-scrollbar-button:single-button {
  block-size: 14px;
  display: block
}
</style>
