<script lang="ts" setup>
// imports
import { object, string } from 'yup'
import {
  Combobox,
  ComboboxInput,
  ComboboxButton,
  ComboboxOptions,
  ComboboxOption,
  TransitionRoot
} from '@headlessui/vue'

// props

// emits

// setup

// data
const device = ref([])
const people = [
  'Durward Reynolds',
  'Kenton Towne',
  'Therese Wunsch',
  'Benedict Kessler',
  'Katelyn Rohan'
]
const selectedPerson = ref(people[0])
const query = ref('')

const filteredPeople = computed(() =>
  query.value === ''
    ? people
    : people.filter((person) => {
      return person.toLowerCase().includes(query.value.toLowerCase())
    })
)

// computed

// watch

// lifecycle

// methods
function onSubmit (formData) {
  console.log(JSON.stringify(formData, null, 2))
}
</script>

<template>
  <!-- <div a-container>
    <FormWizard :validation-schema="validationSchema" @submit="onSubmit">
      <FormStep>
        <Field v-slot="{ errorMessage, value, field }" name="email">
          <AInput
            placeholder="user@example.com"
            :v-model="value"
            v-bind="field"
          />
        </Field>
      </FormStep>

      <FormStep>
        <Field v-slot="{ errorMessage, value, field }" name="emailTwo">
          <AInput
            placeholder="wtf.com"
            :v-model="value"
            v-bind="field"
          />
        </Field>
      </FormStep>
    </FormWizard>
  </div> -->

  <div a-container a-success>
    <section min-h-50vh flex-col flex-center>
      <h1 a-title uppercase text-primary>
        Start Recycle process / Phone or Laptop
      </h1>
      <p mt4>
        adipiscing elit. Enim natoque euadipiscing habitasse eu. Faucibus tellus
      </p>

      <div mt6 flex flex-wrap gap6>
        <Field
          id="laptop"
          v-model="device"
          as="a-radio"
          type="radio"
          name="device"
          value="laptop"
          visually-hidden
          class="transition rounded-full cursor-pointer w-70px h-70px flex-center bg-gray100 a-checked:(a-success bg-context)"
        >
          <div class="text-10 a-custom-laptop" />
        </Field>

        <Field
          id="mobile"
          v-model="device"
          as="a-radio"
          type="radio"
          name="device"
          value="mobile"
          visually-hidden
          class="transition rounded-full cursor-pointer w-70px h-70px flex-center bg-gray100 a-checked:(a-success bg-context)"
        >
          <div class="text-10 a-custom-mobile" />
        </Field>
      </div>
    </section>

    <section min-h-50vh flex-col flex-center>
      <div grid="~ cols-1 lg:cols-12 gap-y16 gap8" wfull>
        <div class="col-start-1 col-end--1">
          <h2 text-center a-title uppercase text-primary>
            What is the Phone Info?
          </h2>
        </div>

        <div class="lg:(col-start-2 col-end-12)">
          <h3 class="text-4.5 leading-6">
            Loptop brand selection :
          </h3>

          <div class="flex flex-wrap justify-center md:justify-between gap6 mt8">
            <ARadio visually-hidden checked class="cursor-pointer p4 a-checked:(text-context)">
              <div class="a-custom-apple a-brand-apple" />
            </ARadio>

            <ARadio visually-hidden checked class="cursor-pointer p4 a-checked:(text-context)">
              <div class="a-custom-samsung a-brand-samsung" />
            </ARadio>

            <ARadio visually-hidden checked class="cursor-pointer p4 a-checked:(text-context)">
              <div class="a-custom-lg a-brand-lg" />
            </ARadio>

            <ARadio visually-hidden checked class="cursor-pointer p4 a-checked:(text-context)">
              <div class="a-custom-huawei a-brand-huawei" />
            </ARadio>

            <ARadio visually-hidden checked class="cursor-pointer p4 a-checked:(text-context)">
              <div class="a-custom-motorola a-brand-motorola" />
            </ARadio>
          </div>

          <div class="flex justify-between gap6 mt8">
            <div>
              <h4 class="text-4.5 leading-6 mb3">
                Laptop model:
              </h4>

              <Combobox v-model="selectedPerson">
                <ComboboxInput @change="query = $event.target.value" />
                <ComboboxOptions>
                  <ComboboxOption
                    v-for="(person, idx) in filteredPeople"
                    :key="idx"
                    :value="person"
                  >
                    {{ person }}
                  </ComboboxOption>
                </ComboboxOptions>
              </Combobox>
            </div>

            <div>
              <h4 cclass="text-4.5 leading-6">
                Laptop Color:
              </h4>

              <div class="flex gap2.5 mt5">
                <ARadio visually-hidden>
                  <div class="w5 h5 rounded-full bg-primary" />
                </ARadio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section min-h-50vh flex-col flex-center wfull>
      <h2 a-title uppercase text-primary>
        What is the problem
      </h2>
      <p mt4>
        adipiscing elit. Enim natoque euadipiscing habitasse eu. Faucibus tellus
      </p>

      <div grid="~ cols-1 sm:cols-2 md:cols-2 lg:cols-3 gap6" wfull mt12>
        <template v-for="n in 6" :key="n">
          <ACheckbox variant="success" class="border border-gray p2.5 px2 rounded a-checked:(border-transparent bg-context/20)">
            <span class="ps2">There is problem with the battery</span>
          </ACheckbox>
        </template>
      </div>
    </section>

    <section min-h-50vh flex-col flex-center wfull>
      <h2 a-title uppercase text-primary>
        What is the problem
      </h2>

      <div grid="~ cols-1 sm:cols-6 lg:cols-12 gap5" wfull mt12>
        <div class="sm:(col-start-1 col-end-6) lg:(col-start-3 col-end-11)">
          <p mt4>
            adipiscing elit. Enim natoque euadipiscing habitasse eu. Faucibus tellus
          </p>
          <ATextarea placeholder="ok" class="border-transparent bg-gray100 min-h-265px mt4" />
        </div>
      </div>
    </section>

    <section min-h-50vh flex-col flex-center wfull>
      <div grid="~ cols-1 sm:cols-6 lg:cols-12 gap6" wfull mt12>
        <div class="lg:(col-start-2 col-end-8)">
          <h2 a-title uppercase text-primary>
            What is the problem
          </h2>

          <ul class="flex flex-col gap4 mt6 pb6 border-b border-black">
            <li v-for="n in 8" :key="n">
              <ACheckbox variant="success">
                <span class="ps3">elit, natoque euadipiscing...</span>
              </ACheckbox>
            </li>
          </ul>

          <div class="py5">
            <h3 a-title leading-12 class="text-context">
              Formatted number
            </h3>
            <p mt4 mb5>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <h4 text-5 leading-12 text-primary>
              Another Formatted number
            </h4>
          </div>
        </div>

        <div class="lg:(col-start-8 col-end-12)" />
      </div>
    </section>
  </div>
</template>
