<script lang="ts" setup>
// imports
import 'swiper/scss/a11y'
import 'swiper/scss/autoplay'
import 'swiper/scss/navigation'
import 'swiper/scss/pagination'
import 'swiper/scss/thumbs'
import 'swiper/scss/controller'
import 'swiper/scss/effect-fade'

import '@/assets/scss/swiper-vars.scss'
// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <div>
    <StoreSliderContent />
  </div>
</template>
