<script setup lang="ts">
import type { Ref } from 'vue'

const currentIdx = inject<Ref<any>>('STEP_COUNTER').value++
const formStepIdx = inject<Ref<any>>('CURRENT_STEP_INDEX')

const shouldShow = computed(() => {
  return currentIdx === formStepIdx.value
})
</script>

<template>
  <div v-if="shouldShow">
    <slot />
  </div>
</template>
