<script setup lang="ts">
import { useForm } from 'vee-validate'

const props = defineProps<{
  validationSchema: any[]
}>()

const emit = defineEmits(['submit'])
const currentStepIdx = ref(0)

const params = useUrlSearchParams('history')
const stepCounter = ref(0)
provide('STEP_COUNTER', stepCounter)

provide('CURRENT_STEP_INDEX', currentStepIdx)

const isLastStep = computed(() => {
  return currentStepIdx.value === stepCounter.value - 1
})

const hasPrevious = computed(() => {
  return currentStepIdx.value > 0
})

const currentSchema = computed(() => {
  return props.validationSchema[currentStepIdx.value]
})

const { values, handleSubmit } = useForm({
  validationSchema: currentSchema,
  keepValuesOnUnmount: true
})

const onSubmit = handleSubmit((values) => {
  for (const [key, value] of Object.entries(values)) { params[key] = value }

  if (!isLastStep.value) {
    currentStepIdx.value++

    return
  }

  emit('submit', values)
}, onInvalidate)

function goToPrev () {
  if (currentStepIdx.value === 0) { return }

  currentStepIdx.value--
}

function onInvalidate () {
  //
}
</script>

<template>
  <form @submit="onSubmit">
    <slot />

    <div>
      <button v-if="hasPrevious" type="button" @click="goToPrev">
        Previous
      </button>
      <button type="submit">
        {{ isLastStep ? 'Submit' : 'Next' }}
      </button>
    </div>

    <pre>{{ values }}</pre>
  </form>
</template>
