// .brand-swiper .swiper-button-next {
  
// }

// .brand-swiper .swiper-button-prev {
  
// }

// .brand-swiper.swiper-rtl .swiper-button-next {
  
// }

// .brand-swiper.swiper-rtl .swiper-button-prev {
  
// }

.brand-swiper .swiper-button-next, .brand-swiper .swiper-button-prev {
  @media (max-width: 767.9px) {
    position: relative !important;
  }
}
