<script lang="ts" setup>
// imports

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section mt5>
    <div
      a-container
      class="lt-sm:px0"
    >
      <div
        grid="~ cols-1 gap5 lg:cols-2"
      >
        <div>
          <div
            class="bg-[#D1FAE5] pt12 pb25 lt-md:px7.5"
          >
            <div

              flex="~ col"
              mx-auto
              class=" at-md:max-w512px lg:max-w350px"
            >
              <h3
                uppercase
                fw600
                text-7
                mb5
              >
                Can’t repair? Ok, let’s recycle!
              </h3>

              <p
                class="text-4.5"
                fw400
                mb12
              >
                Either way, don’t throw it away! Just give us information and we will do it for Earth, for you!
              </p>

              <div flex justify-end>
                <AButton variant="success" a="solid" class="gap2">
                  <span>More</span>
                  <span class="a-custom:long-arrow-right" />
                </AButton>
              </div>
            </div>
          </div>

          <div class="-mt-38 ml-7.5 at-md:ml-12 lt-lg:absolute lg:-mt-32">
            <img class="max-w230px md:max-w245px lg:max-w307px" loading="lazy" src="/images/benefit-img-1.png">
          </div>
        </div>

        <div>
          <div
            class="bg-[#DDEDFF] pt12 pb25 lt-md:px7.5"
          >
            <div

              flex="~ col"
              mx-auto
              class="at-md:max-w512px lg:max-w350px"
            >
              <h3
                uppercase
                fw600
                text-7
                mb5
              >
                You know how to fix? Contact us!
              </h3>

              <p
                class="text-4.5"
                fw400
                mb12
              >
                If you are a repairperson, we’d be glad to work with you. You can repair with us or just buy anything for your own business.
              </p>

              <div flex justify-end lg:justify-start>
                <AButton a="solid" class="gap2">
                  <span>More</span>
                  <span class="a-custom:long-arrow-right" />
                </AButton>
              </div>
            </div>
          </div>
          <div flex class="-mt-38 ml-7.5 at-md:ml-12 lg:(-mt-32 justify-end)">
            <img class="max-w230px md:max-w250px lg:max-w340px" src="/images/benefit-img-2.png">
          </div>
        </div>
      </div>
    </div>

    <div
      a-container
      class="-mt-12 lt-sm:px0 lg:-mt-32"
    >
      <div class="a-bg-gradient py30 px3.5 lt-md:px7.5 lg:px95px">
        <div flex="~ col gap10">
          <h3
            text-center
            fw600
            text-primary
            uppercase
            class="text-28px md:text-7.5 lg:text-38px"
          >
            Why Arena?
          </h3>

          <div grid="~ cols-1 md:cols-2 gap8 lg:gap14">
            <div flex="~ row gap5" class="group">
              <div shrink-0 flex-center class="motion-safe:transition rounded-1/2 bg-[#F2F2F2] text-[#828282] group-hover:(bg-white text-primary) w55px h55px md:(w70px h70px)">
                <div class="w50px h50px a-custom:benefit-1" />
              </div>

              <div flex="~ col gap3.5">
                <h4 fw400 class="text-4.5 lg:text-6">
                  Save Planet Earth & Money!
                </h4>

                <p class="leading-6 text-sm lg:text-4.5">
                  Why go and buy a whole new device when facing a small problem? Or keep your broken cellphone in your drawer?! Let’s repair or recycle!
                </p>
              </div>
            </div>
            <div flex="~ row gap5" class="group">
              <div shrink-0 flex-center class="motion-safe:transition rounded-1/2 bg-[#F2F2F2] text-[#828282] group-hover:(bg-white text-primary) w55px h55px md:(w70px h70px)">
                <div class="w50px h50px a-custom:benefit-2" />
              </div>

              <div flex="~ col gap3.5">
                <h4 fw400 class="text-4.5 lg:text-6">
                  Get more repairs
                </h4>

                <p class="leading-6 text-sm lg:text-4.5">
                  It’s time to have more customers with Arena.
                </p>
              </div>
            </div>
            <div flex="~ row gap5" class="group">
              <div shrink-0 flex-center class="motion-safe:transition rounded-1/2 bg-[#F2F2F2] text-[#828282] group-hover:(bg-white text-primary) w55px h55px md:(w70px h70px)">
                <div class="w50px h50px a-custom:benefit-3" />
              </div>

              <div flex="~ col gap3.5">
                <h4 fw400 class="text-4.5 lg:text-6">
                  Earn money from recycling
                </h4>

                <p class="leading-6 text-sm lg:text-4.5">
                  You can be THAT person! Sell all your OEM parts at Arena Store.
                </p>
              </div>
            </div>
            <div flex="~ row gap5" class="group">
              <div shrink-0 flex-center class="motion-safe:transition rounded-1/2 bg-[#F2F2F2] text-[#828282] group-hover:(bg-white text-primary) w55px h55px md:(w70px h70px)">
                <div class="w50px h50px a-custom:benefit-4" />
              </div>

              <div flex="~ col gap3.5">
                <h4 fw400 class="text-4.5 lg:text-6">
                  An all-in-one business management panel
                </h4>

                <p class="leading-6 text-sm lg:text-4.5">
                  A powerful panel to manage your repair store, and yes it’s FREE!
                </p>
              </div>
            </div>
          </div>

          <h3
            text-center
            fw600
            text-primary
            uppercase
            class="text-7 md:text-7.5 lg:text-9.5"
          >
            ready to join arena team?
          </h3>

          <div text-center>
            <AButton a="solid" class="gap3">
              <span uppercase>let’s go</span>
              <span class="a-custom:long-arrow-right" />
            </AButton>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
