<script lang="ts" setup>
// imports
import { Swiper, SwiperSlide } from 'swiper/vue'
import { A11y, Autoplay, Grid, Navigation } from 'swiper'

// props

// emits

// setup
const brandSwiper = ref()

// data

// computed

// watch

// lifecycle
onMounted(() => {

})

// methods
</script>

<template>
  <section a="white" text-context>
    <div a-container lt-sm="px0">
      <div class="py15 lt-sm:px7.5 brand-bg">
        <div mx-auto class="lg:max-w811px">
          <Swiper
            ref="brandSwiper"
            class="brand-swiper"
            :modules="[A11y, Autoplay, Grid, Navigation]"
            grab-cursor
            text-context
            allow-slide-next
            allow-slide-prev
            :navigation="{
              enabled: true,
              nextEl: '.brand-repair-next',
              prevEl: '.brand-repair-prev',
            }"
            :a11y="{
              containerMessage: 'brand repair',
            }"
            :autoplay="{
              delay: 3000,
            }"
            :slides-per-view="2"
            :space-between="50"
            :grid="{
              fill: 'row',
              rows: 2,
            }"
            :breakpoints="{
              768: {
                grid: {
                  rows: 1,
                },
                slidesPerView: 3,
              },
              1024: {
                grid: {
                  rows: 1,
                },
                slidesPerView: 5,
              },
            }"
          >
            <template #container-start>
              <h2 a-title text-center mb10>
                You’ve heard them, we’ve repaired them!
              </h2>
            </template>

            <SwiperSlide flex-center h10>
              <div class="a-custom:apple a-brand-apple" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:samsung a-brand-samsung" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:lg a-brand-lg" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:huawei a-brand-huawei" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:motorola a-brand-motorola" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:apple a-brand-apple" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:samsung a-brand-samsung" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:lg a-brand-lg" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:huawei a-brand-huawei" />
            </SwiperSlide>
            <SwiperSlide flex-center h10>
              <div class="a-custom:motorola a-brand-motorola" />
            </SwiperSlide>
          </Swiper>
        </div>
        <div mt-6 flex-center gap4>
          <button flex-center class="a-swiper-button brand-repair-prev">
            <div class="a-lucide:chevron-left" />
          </button>
          <button flex-center class="a-swiper-button brand-repair-next">
            <div class="a-lucide:chevron-right" />
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="postcss" scoped>
.brand-bg {
  background: #131d6e radial-gradient(50% 50% at 50% 50%, rgba(11, 35, 184, 0.0624) 0%, rgba(16, 31, 125, 0.39) 100%);
  background-blend-mode: multiply;
}
</style>
