<script lang="ts" setup>
// imports
import { Swiper, SwiperSlide } from 'swiper/vue'
import { A11y, Grid, Navigation } from 'swiper'

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section mb16 relative of-hidden>
    <div a-container>
      <div items-center grid="~ lg:cols-12 gap5">
        <div class="lg:(col-start-1 col-end-6)">
          <img src="/images/phones-overlapping.png" class="max-wfull">
        </div>
        <div class="lg:(col-start-7 col-end-12)">
          <h2 text-primary a-title uppercase class="lg:leading-11.25">
            Find any parts you need for repairing here!
          </h2>

          <p mt-4 class="text-gray800">
            Take a look at Arena Store and search for whatever you need.
          </p>

          <AButton variant="accent" capitalize mt4 gap2 a="solid">
            See more
            <span class="a-custom:long-arrow-right" />
          </AButton>
        </div>
      </div>
    </div>

    <div mt7 a-container lt-sm="px0">
      <Swiper
        a-accent
        :modules="[A11y, Grid, Navigation]"
        :space-between="14"
        :slides-per-view="1"
        grab-cursor
        :navigation="{
          enabled: true,
          nextEl: '.feature-product-next',
          prevEl: '.feature-product-prev',
        }"
        :grid="{
          fill: 'row',
          rows: 1,
        }"
        :breakpoints="{
          440: {
            slidesPerView: 2,
            grid: {
              fill: 'row',
              rows: 2,
            },
          },
          768: {
            spaceBetween: 20,
            grid: {
              rows: 1,
            },
            slidesPerView: 3,
          },
          1024: {
            grid: {
              rows: 1,
            },
            slidesPerView: 4,
          },
        }"
        class="lt-sm:px7.5"
      >
        <SwiperSlide>
          <ACard>
            <figure class="pt4 pb4 px3.5 lg:(pt8 pb6)" flex="~ col">
              <div flex-center flex-grow class="min-h115px sm:(min-h134px border-b border-gray8 pb4.5)">
                <img src="/images/feature-img-1.png" class="mx-auto wfull max-w100px max-h100px sm:(max-w131px max-h115px)">
              </div>

              <figcaption class="pt" justify-between flex="~ gap1.25 sm:gap2.5">
                <div flex-grow flex="~ col gap5">
                  <h3 text-sm fw700 class="leading-4.5">
                    Apple iPhone X-13 Pro Max Front Bezel Replacement With Glue
                  </h3>

                  <h4 fw700 text-accent class="text-sm sm:text-4.5">
                    $1.70 -  $1.70
                  </h4>
                </div>
                <div shrink-0 flex="~ col gap2.5">
                  <div class="text-5 a-lucide:percent" />
                  <div class="text-5 text-accent a-lucide:shopping-bag" />
                  <div class="text-5 a-lucide:heart" />
                </div>
              </figcaption>
            </figure>
          </ACard>
        </SwiperSlide>

        <SwiperSlide>
          <ACard>
            <figure class="pt4 pb4 px3.5 lg:(pt8 pb6)" flex="~ col">
              <div flex-center flex-grow class="min-h115px sm:(min-h134px border-b border-gray8 pb4.5)">
                <img src="/images/feature-img-2.png" class="mx-auto wfull max-w100px max-h100px sm:(max-w131px max-h115px)">
              </div>

              <figcaption class="pt" justify-between flex="~ gap1.25 sm:gap2.5">
                <div flex-grow flex="~ col gap5">
                  <h3 text-sm fw700 class="leading-4.5">
                    Apple iPhone X-13 Pro Max Front Bezel Replacement With Glue
                  </h3>

                  <h4 fw700 text-accent class="text-sm sm:text-4.5">
                    $1.70 -  $1.70
                  </h4>
                </div>
                <div shrink-0 flex="~ col gap2.5">
                  <div class="text-5 a-lucide:percent" />
                  <div class="text-5 text-accent a-lucide:shopping-bag" />
                  <div class="text-5 a-lucide:heart" />
                </div>
              </figcaption>
            </figure>
          </ACard>
        </SwiperSlide>

        <SwiperSlide>
          <ACard>
            <figure class="pt4 pb4 px3.5 lg:(pt8 pb6)" flex="~ col">
              <div flex-center flex-grow class="min-h115px sm:(min-h134px border-b border-gray8 pb4.5)">
                <img src="/images/feature-img-3.png" class="mx-auto wfull max-w100px max-h100px sm:(max-w131px max-h115px)">
              </div>

              <figcaption class="pt" justify-between flex="~ gap1.25 sm:gap2.5">
                <div flex-grow flex="~ col gap5">
                  <h3 text-sm fw700 class="leading-4.5">
                    Apple iPhone X-13 Pro Max Front Bezel Replacement With Glue
                  </h3>

                  <h4 fw700 text-accent class="text-sm sm:text-4.5">
                    $1.70 -  $1.70
                  </h4>
                </div>
                <div shrink-0 flex="~ col gap2.5">
                  <div class="text-5 a-lucide:percent" />
                  <div class="text-5 text-accent a-lucide:shopping-bag" />
                  <div class="text-5 a-lucide:heart" />
                </div>
              </figcaption>
            </figure>
          </ACard>
        </SwiperSlide>

        <SwiperSlide>
          <ACard>
            <figure class="pt4 pb4 px3.5 lg:(pt8 pb6)" flex="~ col">
              <div flex-center flex-grow class="min-h115px sm:(min-h134px border-b border-gray8 pb4.5)">
                <img src="/images/benefit-img-2.png" class="mx-auto wfull max-w100px max-h100px sm:(max-w131px max-h115px)">
              </div>

              <figcaption class="pt" justify-between flex="~ gap1.25 sm:gap2.5">
                <div flex-grow flex="~ col gap5">
                  <h3 text-sm fw700 class="leading-4.5">
                    Apple iPhone X-13 Pro Max Front Bezel Replacement With Glue
                  </h3>

                  <h4 fw700 text-accent class="text-sm sm:text-4.5">
                    $1.70 -  $1.70
                  </h4>
                </div>
                <div shrink-0 flex="~ col gap2.5">
                  <div class="text-5 a-lucide:percent" />
                  <div class="text-5 text-accent a-lucide:shopping-bag" />
                  <div class="text-5 a-lucide:heart" />
                </div>
              </figcaption>
            </figure>
          </ACard>
        </SwiperSlide>

        <SwiperSlide>
          <ACard>
            <figure class="pt4 pb4 px3.5 lg:(pt8 pb6)" flex="~ col">
              <div flex-center flex-grow class="min-h115px sm:(min-h134px border-b border-gray8 pb4.5)">
                <img src="/images/benefit-img-2.png" class="mx-auto wfull max-w100px max-h100px sm:(max-w131px max-h115px)">
              </div>

              <figcaption class="pt" justify-between flex="~ gap1.25 sm:gap2.5">
                <div flex-grow flex="~ col gap5">
                  <h3 text-sm fw700 class="leading-4.5">
                    Apple iPhone X-13 Pro Max Front Bezel Replacement With Glue
                  </h3>

                  <h4 fw700 text-accent class="text-sm sm:text-4.5">
                    $1.70 -  $1.70
                  </h4>
                </div>
                <div shrink-0 flex="~ col gap2.5">
                  <div class="text-5 a-lucide:percent" />
                  <div class="text-5 text-accent a-lucide:shopping-bag" />
                  <div class="text-5 a-lucide:heart" />
                </div>
              </figcaption>
            </figure>
          </ACard>
        </SwiperSlide>
      </Swiper>
      <div mt-6 flex-center gap4>
        <button flex-center class="a-swiper-button feature-product-prev">
          <div class="a-lucide:chevron-left" />
        </button>
        <button flex-center class="a-swiper-button feature-product-next">
          <div class="a-lucide:chevron-right" />
        </button>
      </div>
    </div>
  </section>
</template>
