<script lang="ts" setup>
// imports

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section>
    <div
      a-container
      content-center
      items-center
      grid="~ cols-1 sm:cols-6 md:cols-12 lg:flow-row gap5"
      class="py20 lt-md:px7.5"
    >
      <div
        relative
        sm="col-start-2 col-end-6"
        md="col-start-1 col-end-8 row-start-1"
        lg="col-start-2 col-end-8"
      >
        <div flex="~ col gap6 at-md:gap30">
          <h1
            text-primary
            fw600
            uppercase
            class="text-6 sm:text-7 lg:text-9"
          >
            You Break It, We REPAIR It!
          </h1>

          <div
            block
            md="hidden"
          >
            <img src="/images/hero.png" loading="eager">
          </div>

          <div class="md:max-w95% lg:max-w80%">
            <h2
              mb4
              fw400
              class="text-4 md:text-4.5 text-gray900"
            >
              Stop buying new devices even when the only thing you need is a smalllll fix! We are here to make sure you can enjoy some more time with your devices.
            </h2>

            <div
              flex="~ wrap sm:nowrap"
              gap-3
            >
              <AInput
                flex="grow"
                input-class="text-center lt-sm:py1"
                a="primary"
                icon="a-lucide:search"
                placeholder="Can I seriously repair my...?!"
              />
              <AButton a="solid" class="wfull justify-between sm:w-auto">
                <span capitalize>search</span>

                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>
          </div>
        </div>
      </div>

      <div
        hidden
        md="block col-start-7 col-end--1 row-start-1"
      >
        <img src="/images/hero.png" loading="lazy">
      </div>
    </div>
  </section>
</template>
