<template>
  <footer
    role="contentinfo"
    bg-footer
    a="white"
  >
    <div a-container>
      <div
        relative
        text-context
      >
        <ScrollTopButton />

        <div
          grid="~ cols-1 lg:cols-[1fr_360px] gap8"
          class="pt-14 pb10 lg:(pt-13.75 pb8)"
        >
          <div
            grid="~ cols-2 flow-dense lg:cols-[repeat(4,minmax(86px,94px))] gap7 md:gap11 xl:gap-14"
          >
            <div>
              <div class="a-logo a-custom:arena-light" mb4 />
              <ul text-sm flex="~ col gap3">
                <li>
                  <a href="#">
                    About Us
                  </a>
                </li>

                <li>
                  <a href="#">
                    Customer
                  </a>
                </li>

                <li>
                  <a href="#">
                    Contact Us
                  </a>
                </li>

                <li>
                  <a href="#">
                    Feedback
                  </a>
                </li>

                <li>
                  <a href="#">
                    Newsletter
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h4 fw700 mb4 text-sm>
                Arena Shop
              </h4>
              <ul text-sm flex="~ col gap3">
                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>

                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h4 fw700 mb4 text-sm>
                Arena Shop
              </h4>
              <ul text-sm flex="~ col gap3">
                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>

                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>
              </ul>
            </div>

            <div>
              <h4 fw700 mb4 text-sm>
                Arena Shop
              </h4>
              <ul text-sm flex="~ col gap3">
                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>

                <li>
                  <a href="#">
                    Lorem ipsum
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div>
            <h4
              text-sm
              fw700
              mb1
            >
              Stay in the loop
            </h4>

            <p
              text-xs
              mb4
            >
              Learn something new every Month
            </p>

            <div flex="~ wrap gap1">
              <AInput
                flex-grow
                text-black
                input-class="py-1 text-center"
                a="accent"
                icon="a-lucide:mail"
                type="email"
                placeholder="Enter you email"
              />
              <AButton variant="accent" capitalize a="solid" class="wfull sm:w-auto justify-between">
                Subscribe
                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>

            <div mt8 flex="~ row gap4" justify-end a="accent">
              <a inline-flex items-center class="hover:text-context" href="#">
                <div class="a-simple-icons:instagram" />
              </a>

              <a inline-flex items-center class="hover:text-context" href="#">
                <div class="a-simple-icons:twitter" />
              </a>

              <a inline-flex items-center class="hover:text-context" href="#">
                <div class="a-simple-icons:facebook" />
              </a>
            </div>
          </div>
        </div>

        <div
          border-t-1
          flex-center
          flex="wrap gap3 md:gap8 "
          py-3
          text-xs
          leading-13.75
        >
          <span>Copyright 2022 RepairDesk INC. All rights reserved</span>

          <span>Designed & Developed By</span>
        </div>
      </div>
    </div>
  </footer>
</template>
