<script lang="ts" setup>
/**
 * @todo focus-trap
 * @todo scroll-to-0
 * @todo backdrop overlay for closing
 * @todo button
 */

// imports
import { Popover, PopoverButton, PopoverGroup, PopoverPanel, TransitionRoot } from '@headlessui/vue'
// props

// emits
const { isMenuExpanded } = useNav()
// setup

// data

// computed

// watch

// lifecycle

// methods
function openChooseAuthModal () {
  isChooseAuthModalOpen.value = true
}
</script>

<template>
  <TransitionRoot
    as="template"
    :show="isMenuExpanded"
    enter="transition-all duration-500 ease"
    enter-from="opacity-0 max-h-0"
    enter-to="opacity-100 max-h-screen"
    leave="transition-all duration-450"
    leave-from="opacity-100 max-h-screen"
    leave-to="opacity-0 max-h-0"
  >
    <nav class="absolute inset-0 z-12 bg-primary pt20 px7.5">
      Menu Mobile
    </nav>
  </TransitionRoot>
  <header
    a-container
    relative
    z-15
  >
    <div
      relative
      a-header-border
      class="md:border-b"
    >
      <div
        flex-center-y
        class="justify-between pt6 md:pt8.75"
      >
        <div
          class="transition-all at-md:(a-custom:favicon-dark w10 h6.25) !a-logo"

          :class="[
            isMenuExpanded ? 'a-custom:arena-light' : 'a-custom:arena-dark',
          ]"
        />

        <nav
          hidden
          md:block
        >
          <PopoverGroup as="ul" class="flex gap-6 md:gap-7">
            <li flex>
              <NuxtLink to="/" class="block leading-15" active-class="text-accent">
                <span class="text-sm">Home</span>
              </NuxtLink>
            </li>

            <Popover as="li" flex>
              <PopoverButton as="button" class="leading-15 block gap-1">
                <span text-sm>Arena Shops</span>
                <span text-sm self-center class="a-lucide:chevron-down" />
              </PopoverButton>

              <transition
                enter-active-class="motion-safe:(transition duration-200 ease-out)"
                enter-from-class="motion-safe:(translate-y-1 opacity-0)"
                enter-to-class="motion-safe:(translate-y-0 opacity-100)"
                leave-active-class="motion-safe:(transition duration-150 ease-in)"
                leave-from-class="motion-safe:(translate-y-0 opacity-100)"
                leave-to-class="motion-safe:(translate-y-1 opacity-0)"
              >
                <PopoverPanel
                  class="z-12 top-full left-0 bg-[#3753a4] bg-op80 rounded-0 backdrop-filter"
                  absolute
                  backdrop="blur-25"
                  w="full"
                  md="py8"
                >
                  <div
                    class="of-hidden flex justify-evenly justify-evenly text-sm"
                  >
                    <div>Megamenu link</div>
                    <div>Megamenu link</div>
                    <div>Megamenu link</div>
                  </div>
                </PopoverPanel>
              </transition>
            </Popover>

            <li flex>
              <NuxtLink class="block leading-15" to="#">
                <span text-sm>Let’s Do Business!</span>
              </NuxtLink>
            </li>

            <li>
              <NuxtLink class="hfull flex-center-y leading-15" to="/about">
                <span text-sm hidden class="lg:flex">About Arena</span>
                <span text-sm hidden class="at-md:flex">About</span>
              </NuxtLink>
            </li>

            <li>
              <NuxtLink class="hfull flex-center-y leading-15" to="/contact">
                <span text-sm hidden class="lg:flex">Contact Us</span>
                <span text-sm hidden class="at-md:flex">Contact</span>
              </NuxtLink>
            </li>

            <li flex-center-y class="gap2">
              <button>
                <div text-xl class="a-lucide:shopping-bag" />
              </button>

              <button>
                <div text-xl class="a-lucide:search" />
              </button>
            </li>

            <li flex-center-y>
              <button block leading-15 @click="openChooseAuthModal">
                <span text-sm hidden class="xl:block">Sign in/Sign up</span>

                <span block class="text-xl xl:hidden a-lucide:log-in" />
              </button>
            </li>
          </PopoverGroup>
        </nav>

        <button block md:hidden class="button-line py3 px2 rounded group motion-safe:transition a-primary hover:(a-accent bg-gray200) aria-expanded:a-accent" :aria-expanded="isMenuExpanded" @click="isMenuExpanded = !isMenuExpanded">
          <div class="button-line-inner" dir="rtl">
            <span class="motion-safe:transition-all wfull group-hover:w60% " />
            <span class="motion-safe:transition-all w60% group-hover:wfull" />
            <span class="motion-safe:transition-all wfull group-hover:w60% " />
          </div>
        </button>
      </div>
    </div>
  </header>
</template>

<style lang="postcss" scoped>
  .button-line-inner {
    @apply w24px;
  }

  .button-line-inner > :deep(span) {
    @apply block h2px rounded-4 bg-context;

    &:not(:first-child) {
      @apply mt1.1;
    }
  }
</style>
