<script lang="ts" setup>
// imports

// props

// emits

// setup

// data
const preferredMotion = usePreferredReducedMotion()

// computed

// watch

// lifecycle

// methods
function scrollTop () {
  window.scrollTo({
    top: 0,
    left: 0,
    behavior: preferredMotion.value === 'no-preference' ? 'smooth' : 'auto'
  })
}
</script>

<template>
  <ClientOnly>
    <AButton
      variant="accent"
      a="outline"
      absolute
      flex-center
      class="transform border-2! top-[-11.5px] bg-white! p0! w[23px] h[23px]"
      md="right-0 rtl:left-0"
      lt-md="left-50% -translate-x-1/2"
      @click="scrollTop"
    >
      <span class="a-lucide:chevron-up" />
    </AButton>
  </ClientOnly>
</template>
