<script lang="ts" setup>
// imports
import {
  Disclosure,
  DisclosureButton,
  DisclosurePanel
} from '@headlessui/vue'

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section class="py-17.5">
    <div a-container-faq>
      <h1 text-primary a-title uppercase mb5>
        Frequently asked questions
      </h1>

      <div grid="~ cols-1 gap1">
        <Disclosure v-slot="{ open }">
          <DisclosureButton
            flex="~ row gap4"
            items-center
            text-gray700
            class="text-start rounded-0.5 text-4.5 bg-[#F1F5F9] py2 px4"
          >
            <div text-sm class="motion-safe:transition a-lucide:chevron-down" :class="open && 'rotate--90 transform'" />
            <span>How do I repair an item?</span>
          </DisclosureButton>
          <transition
            enter-active-class="motion-safe:(transition duration-100 ease)"
            enter-from-class="motion-safe:(transform) opacity-0"
            enter-to-class="motion-safe:(transform) opacity-100"
            leave-active-class="motion-safe:(transition ease)"
            leave-from-class="motion-safe:(transform) opacity-100"
            leave-to-class="motion-safe:(transform) opacity-0"
          >
            <DisclosurePanel class="py4 px4">
              <p text-sm text-gray500>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus arcu massa fusce volutpat mi. Enim nulla enim etiam ut. Bibendum tristique ullamcorper orci, malesuada. Ultrices dictumst lobortis enim sed phasellus et vestibulum neque.
              </p>
            </DisclosurePanel>
          </transition>
        </Disclosure>

        <Disclosure v-slot="{ open }">
          <DisclosureButton
            flex="~ row gap4"
            items-center
            text-gray700
            class="text-start text-4.5 bg-[#F1F5F9] py2 px4"
          >
            <div text-sm class="transition a-lucide:chevron-down" :class="open && 'rotate--90 transform'" />
            <span>Do you offer technical support?</span>
          </DisclosureButton>
          <transition
            enter-active-class="motion-safe:(transition duration-100 ease)"
            enter-from-class="motion-safe:(transform) opacity-0"
            enter-to-class="motion-safe:(transform) opacity-100"
            leave-active-class="motion-safe:(transition ease)"
            leave-from-class="motion-safe:(transform) opacity-100"
            leave-to-class="motion-safe:(transform) opacity-0"
          >
            <DisclosurePanel class="py4 px4">
              <p text-sm text-gray500>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus arcu massa fusce volutpat mi. Enim nulla enim etiam ut. Bibendum tristique ullamcorper orci, malesuada. Ultrices dictumst lobortis enim sed phasellus et vestibulum neque.
              </p>
            </DisclosurePanel>
          </transition>
        </Disclosure>

        <Disclosure v-slot="{ open }">
          <DisclosureButton
            flex="~ row gap4"
            items-center
            text-gray700
            class="text-start text-4.5 bg-[#F1F5F9] py2 px4"
          >
            <div text-sm class="transition a-lucide:chevron-down" :class="open && 'rotate--90 transform'" />
            <span>Do you offer technical support?</span>
          </DisclosureButton>
          <transition
            enter-active-class="motion-safe:(transition duration-100 ease)"
            enter-from-class="motion-safe:(transform) opacity-0"
            enter-to-class="motion-safe:(transform) opacity-100"
            leave-active-class="motion-safe:(transition ease)"
            leave-from-class="motion-safe:(transform) opacity-100"
            leave-to-class="motion-safe:(transform) opacity-0"
          >
            <DisclosurePanel class="py4 px4">
              <p text-sm leading-4 text-gray500>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus arcu massa fusce volutpat mi. Enim nulla enim etiam ut. Bibendum tristique ullamcorper orci, malesuada. Ultrices dictumst lobortis enim sed phasellus et vestibulum neque.
              </p>
            </DisclosurePanel>
          </transition>
        </Disclosure>
      </div>

      <div text-center class="mt-10 lg:mt-12">
        <AButton a="solid" gap2>
          <span>See More</span>
          <span class="a-custom:long-arrow-right" />
        </AButton>
      </div>
    </div>
  </section>
</template>
