<script lang="ts" setup>
// imports

// props
const props = defineProps<{}>()

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <div
    font-sans
    min-h-screen
    flex-center
    flex-col
    wfull
    py16
  >
    <div grid="~ cols-1 lg:cols-12" wfull>
      <div class="lg:col-start-2 col-end-12">
        <div grid="~ lg:cols-2">
          <div h-full bg-primary flex-center>
            <div class="text-50 a-custom-arena-dark" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
