<script lang="ts" setup>
// imports

// props

// emits

// setup

// data
const triggered = ref(false)

// computed

// watch

// lifecycle

// methods
function triggerHydration () {
  triggered.value = true
}
</script>

<template>
  <div font-sans>
    <button @click="triggerHydration">
      Trigger hydration
    </button>
    <slot name="app-before" />
    <div id="app-before" />
    <div
      class="min-h-screen"
      flex="~ col"
    >
      <AppHeader />

      <main flex-grow class="w-full max-w-[2560px] mx-auto relative">
        <slot />
      </main>

      <AppFooter />
    </div>

    <slot name="app-after" />
    <div id="app-after" />

    <LazyHydrate :when-triggered="triggered">
      <LazyChooseAuthModal />
    </LazyHydrate>
  </div>
</template>
