<script lang="ts" setup>
// imports
import { Tab, TabGroup, TabList, TabPanel, TabPanels } from '@headlessui/vue'

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <section>
    <div a-container class="lt-md:(px0)">
      <div a-bg-gradient class="mt10 pb8 lt-md:px7.5" grid="~ cols-1 gap12.5 md:(cols-8 gap-x5 gap-y16) lg:(cols-12 gap-y27.25)">
        <div class=" md:(col-start-1 col-end-5 row-start-1) lg:(col-start-1 col-end-9)">
          <img class="max-w100% at-sm:max-w80% me-auto" src="/images/about-img-1.png" loading="lazy">
        </div>

        <div class="order-first md:(col-start-5 col-end--1 row-start-1) lg:(col-start-7 col-end-12)">
          <div flex="~ col gap5" class="lg:mt-6">
            <h1 text-primary a-title uppercase>
              Lorem ipsum dolor sit Cras.
            </h1>

            <p class="text-sm leading-5 md:(text-4.5 leading-6)">
              The arena repair started its operation in Vancouver, Canada, in 2022 <br hidden lg:block>
              The goal of Arena repairs is to reduce electronic waste and increase the life of electronic gadgets for reuse
              through device repair
            </p>
          </div>
        </div>

        <div class="md:(col-start-1 col-end-5) lg:(col-start-2 col-end-7)">
          <div flex="~ col gap5" class="at-md:px4">
            <h2 text-primary uppercase fw600 class="text-7 leading-10 md:text-6 lg:(text-7.5)">
              Lorem ipsum dolor sit Cras.
            </h2>

            <p class="text-gray800 text-sm leading-5 md:(text-4.5 leading-6)">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies mollis id volutpat quis quis. Id neque, amet mattis dictumst sapien. Eget sagittis, arcu, tellus posuere faucibus in tristique pellentesque nulla. Posuere facilisis phasellus in orci egestas malesuada nam.
            </p>
          </div>
        </div>

        <div class="md:(col-start-5 col-end-9) lg:(col-start-7 col-end-12)">
          <div flex="~ col gap5" class="at-md:px4">
            <h2 text-primary uppercase fw600 class="text-7 leading-10 md:text-6 lg:(text-7.5)">
              Lorem ipsum dolor sit Cras.
            </h2>

            <p class="text-gray800 text-sm leading-5 md:(text-4.5 leading-6)">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies mollis id volutpat quis quis. Id neque, amet mattis dictumst sapien. Eget sagittis, arcu, tellus posuere faucibus in tristique pellentesque nulla. Posuere facilisis phasellus in orci egestas malesuada nam.
            </p>
          </div>
        </div>
      </div>

      <div class="mt15 lt-md:(px7.5)" grid="~ cols-1 gap5 md:cols-8 lg:cols-12" items-center>
        <div class="md:(col-start-1 col-end-4) lg:(col-start-1 col-end-7)">
          <img class="max-wfull" src="/images/about-img-2.png">
        </div>

        <div class="md:(col-start-4 col-end--1) lg:(col-start-7 col-end-12)">
          <h2 text-primary uppercase fw600 class="text-7 leading-10 md:text-6 lg:(text-7.5)">
            Lorem ipsum dolor sit Cras.
          </h2>

          <p class="text-gray800 text-sm leading-5 md:(text-4.5 leading-6)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim natoque euadipiscing habitasse eu. Faucibus tellus
          </p>

          <div mt8>
            <TabGroup>
              <TabList wfull flex="~ row" class="border-b border-[#828282]" a="accent">
                <Tab v-slot="{ selected }" as="template">
                  <button flex-center flex-grow>
                    <div class="motion-safe:transition px2 pb2.25 border-b-3 -mb-2px" :class="selected ? 'text-accent border-accent' : 'text-gray700 border-transparent'">
                      lourem ispsum
                    </div>
                  </button>
                </Tab>
                <Tab v-slot="{ selected }" as="template">
                  <button flex-center flex-grow>
                    <div class="motion-safe:transition px2 pb2.25 border-b-3 -mb2px" :class="selected ? 'text-accent border-accent' : 'text-gray700 border-transparent'">
                      lourem ispsum
                    </div>
                  </button>
                </Tab>
                <Tab v-slot="{ selected }" as="template">
                  <button flex-center flex-grow>
                    <div class="motion-safe:transition px2 pb2.25 border-b-3 -mb2px" :class="selected ? 'text-accent border-accent' : 'text-gray700 border-transparent'">
                      lourem ispsum
                    </div>
                  </button>
                </Tab>
              </TabList>
              <TabPanels>
                <transition
                  enter-active-class="motion-safe:(transition ease)"
                  enter-from-class="motion-safe:(transform) opacity-0"
                  enter-to-class="transform opacity-100"
                  leave-active-class="transition ease"
                  leave-from-class="transform opacity-100"
                  leave-to-class="transform opacity-0"
                >
                  <TabPanel>
                    <div pt5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies mollis id volutpat quis quis. Id neque, amet mattis dictumst sapien. Eget sagittis, arcu, tellus posuere faucibus in tristique pellentesque nulla. Posuere facilisis phasellus in orci egestas malesuada nam.
                      </p>
                    </div>
                  </TabPanel>
                </transition>
                <transition
                  enter-active-class="transition duration-100 ease"
                  enter-from-class="transform opacity-0"
                  enter-to-class="transform opacity-100"
                  leave-active-class="transition ease"
                  leave-from-class="transform opacity-100"
                  leave-to-class="transform opacity-0"
                >
                  <TabPanel>
                    <div pt5>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage
                      </p>
                    </div>
                  </TabPanel>
                </transition>
                <transition
                  enter-active-class="transition duration-100 ease"
                  enter-from-class="transform opacity-0"
                  enter-to-class="transform opacity-100"
                  leave-active-class="transition ease"
                  leave-from-class="transform opacity-100"
                  leave-to-class="transform opacity-0"
                >
                  <TabPanel>
                    <div pt5>
                      <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                      </p>
                    </div>
                  </TabPanel>
                </transition>
              </TabPanels>
            </TabGroup>
          </div>
        </div>
      </div>

      <div grid="~ cols-1 gap10" class="pt10 pb20 lg:(pt22.5 pb22)">
        <h3
          text-center
          fw600
          text-primary
          uppercase
          class="text-7 md:text-7.5 lg:text-9.5"
        >
          ready to join arena team?
        </h3>

        <div text-center>
          <AButton a="solid" class="gap3">
            <span uppercase>let’s go</span>
            <span class="a-custom:long-arrow-right" />
          </AButton>
        </div>
      </div>
    </div>
  </section>
</template>
