<script lang="ts" setup>
// imports
import 'swiper/scss/a11y'
import 'swiper/scss/autoplay'
import 'swiper/scss/grid'
import 'swiper/scss/navigation'

import '@/assets/scss/brand-swiper.scss'
import '@/assets/scss/swiper-vars.scss'

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
</script>

<template>
  <div>
    <HeroSection />
    <BrandsRepairSection />
    <BenefitsSection />
    <FeaturedProductSection />
  </div>
</template>
