<script lang="ts" setup>
// imports

// props
const props = defineProps<{}>()

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods

definePageMeta({
  layout: 'auth'
})
</script>

<template>
  <div>
    SignIn and SignUp view
  </div>
</template>
