<script lang="ts" setup>
// imports
const { data } = await useAsyncData('terms-data', () => queryContent('/terms').locale('en').findOne())
// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods

//
</script>

<template>
  <section>
    <div a-container prose>
      <ContentRenderer :value="data">
        <template #empty>
          <p>No content found.</p>
        </template>
      </ContentRenderer>

      <aside>
        <pre hidden />
      </aside>
    </div>
  </section>
</template>
