<script lang="ts" setup>
// imports
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription
} from '@headlessui/vue'

// props

// emits

// setup

// data

// computed

// watch

// lifecycle

// methods
function setChooseAuthModalOpen () {
  isChooseAuthModalOpen.value = false
}
</script>

<template>
  <TransitionRoot :show="isChooseAuthModalOpen" as="template">
    <Dialog @close="setChooseAuthModalOpen">
      <TransitionChild
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-black/30" />
      </TransitionChild>

      <TransitionChild
        enter="duration-200 ease-out"
        enter-from="opacity-0 scale-95"
        enter-to="opacity-100 scale-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100 scale-100"
        leave-to="opacity-0 scale-95"
        class="fixed inset-0 flex-center"
      >
        <DialogPanel class="wfull max-w-sm bg-white">
          <DialogTitle>Deactivate account</DialogTitle>
        </DialogPanel>
      </TransitionChild>
    </Dialog>
  </TransitionRoot>
</template>
