<script lang="ts" setup>
// imports
import { Swiper, SwiperSlide } from 'swiper/vue'
import { A11y, Controller, EffectFade, Pagination } from 'swiper'

// props

// emits

// setup
const thumbsSwiper = ref(null)
const thumbsChildSwiper = ref(null)

// data

// computed

// watch

// lifecycle

// methods
function setThumbsSwiper (swiper: any) {
  thumbsSwiper.value = swiper
}

function setChildThumbsSwiper (swiper: any) {
  thumbsChildSwiper.value = swiper
}
</script>

<template>
  <section a-container mb12>
    <div a-bg-gradient pt12 items-center grid="~ cols-1 lg:cols-12 lg:flow-row gap5">
      <div class="lg:(col-start-1 col-end-7)">
        <Swiper
          dir="ltr"
          :slides-per-view="1"
          grab-cursor
          :modules="[A11y, Pagination, EffectFade, Controller]"
          effect="fade"
          :pagination="{
            clickable: true,
          }"
          :fade-effect="{
            crossFade: true,
          }"
          :controller="{
            control: thumbsChildSwiper!,
          }"
          :style="{
            '--swiper-pagination-color': '#F2994A',
          }"
          class="image-slider wfull hfull pb15"
          @swiper="setThumbsSwiper"
        >
          <SwiperSlide class="wfull">
            <img src="/images/benefit-img-1.png" class="max-wfull mx-auto">
          </SwiperSlide>
          <SwiperSlide class="wfull">
            <img src="/images/benefit-img-2.png" class="max-wfull mx-auto">
          </SwiperSlide>
          <SwiperSlide class="wfull">
            <img src="/images/benefit-img-1.png" class="max-wfull mx-auto">
          </SwiperSlide>
          <SwiperSlide class="wfull">
            <img src="/images/benefit-img-2.png" class="max-wfull mx-auto">
          </SwiperSlide>
        </Swiper>
      </div>

      <div class="lg:(col-start-7 col-end-12)">
        <Swiper
          dir="ltr"
          :slides-per-view="1"
          :modules="[A11y, Controller]"
          class="image-content-slider wfull hfull pb12"
          watch-slides-progress
          :controller="{
            control: thumbsSwiper!,
          }"
          @swiper="setChildThumbsSwiper"
        >
          <SwiperSlide class="wfull p4 md:p8 lg:p2">
            <div select-none>
              <h2 a-title uppercase text-primary>
                Lorem ipsum dolor sit amet
              </h2>
              <p
                mb4
                fw400
                class="text-4 md:text-4.5 text-gray900"
              >
                Lorem ipsum dolor sit amet consectetur. Porttitor tellus arcu ullamcorper pellentesque duis quis gravida rhoncus.
              </p>

              <AButton mt4 variant="accent" capitalize a="solid">
                Buy it
                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>
          </SwiperSlide>
          <SwiperSlide class="wfull p4 md:p8 lg:p2">
            <div select-none>
              <h2 a-title uppercase text-primary>
                Lorem ipsum dolor sit amet
              </h2>
              <p
                mb4
                fw400
                class="text-4 md:text-4.5 text-gray900"
              >
                Lorem ipsum dolor sit amet consectetur. Porttitor tellus arcu ullamcorper pellentesque duis quis gravida rhoncus.
              </p>

              <AButton mt4 variant="accent" capitalize a="solid">
                Buy it
                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>
          </SwiperSlide>
          <SwiperSlide class="wfull p4 md:p8 lg:p2">
            <div select-none>
              <h2 a-title uppercase text-primary>
                Lorem ipsum dolor sit amet
              </h2>
              <p
                mb4
                fw400
                class="text-4 md:text-4.5 text-gray900"
              >
                Lorem ipsum dolor sit amet consectetur. Porttitor tellus arcu ullamcorper pellentesque duis quis gravida rhoncus.
              </p>

              <AButton mt4 variant="accent" capitalize a="solid">
                Buy it
                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>
          </SwiperSlide>
          <SwiperSlide class="wfull p4 md:p8 lg:p2">
            <div select-none>
              <h2 a-title uppercase text-primary>
                Lorem ipsum dolor sit amet
              </h2>
              <p
                mb4
                fw400
                class="text-4 md:text-4.5 text-gray900"
              >
                Lorem ipsum dolor sit amet consectetur. Porttitor tellus arcu ullamcorper pellentesque duis quis gravida rhoncus.
              </p>

              <AButton mt4 variant="accent" capitalize a="solid">
                Buy it
                <span class="a-custom:long-arrow-right" />
              </AButton>
            </div>
          </SwiperSlide>
        </Swiper>
      </div>
    </div>
  </section>
</template>

<style lang="postcss" scoped>
  .image-slider :deep(.swiper-pagination) {
    @apply text-left pl
  }

  .image-slider :deep(.swiper-pagination) {
    @apply bottom-0
  }
</style>
